body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
}

nav {
  padding: 5px;
  z-index: 2;
  position: fixed;
  width: 100%;
  display: flex;
}

nav .left {
  flex: 0.33;
  text-align: left;
}

nav .middle {
  flex: 0.34;
  text-align: center;
}

nav .right {
  flex: 0.33;
  text-align: right;
}

nav .icon {
  width: 64px;
}

nav .options {
  display: flex;
}

nav .option {}

main {
  height: 100%;
  color: #fff;
}

.section {
  opacity: 0.65;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section .content {
  opacity: 1;
  padding: 5%;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
}

.section .content .text {
  margin: auto;
  background-color: #111;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

.essays {
  padding: 25px;
  text-align: center;
}

.essay {
  margin: 10px;
  font-size: 22px;
}

#s-1, #s-6 {
  background-image: url("../assets/cetys-logo.svg");
  min-height: 100%;
}

#s-2 {
  background-image: url("../assets/eye%20of%20potential.jpg");
  min-height: 100%;
}

#s-3 {
  background-image: url("../assets/school%20of%20lions.jpg");
  min-height: 100%;
}

#s-4 {
  background-image: url("../assets/kingdom%20hearts%20moon.jpg");
  min-height: 100%;
}

#s-5 {
  background-image: url("../assets/world%20of%20void.jpg");
  min-height: 100%;
}
