.board-item-content:hover{
  background-color: #d6d6d6;
}

.navbar{
  margin-bottom: 10px;
  background-color: #273238;
  color: white;
}

.add{
  margin-bottom: 10px;
  margin-left: 45%;
  margin-right: 50%;
}
