.kanban-parent {}

.kanban-parent .prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

.kanban-parent .next {
  right: 0;
  border-radius: 0 3px 3px 0;
}

.kanban-parent .prev, .kanban-parent .next {
  margin: 2px;
  padding: 10px;
  position: absolute;
  z-index: 10;
  top: 50%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.kanban-parent .kanban {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.kanban-parent .kanban .section {
  margin: 5px;
  padding: 3px;
  width: 275px;
  min-width: 240px;
  border-radius: 10px;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
}

.kanban-parent .kanban .section .header {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.kanban-parent .kanban .header .name {
  padding: 3px;
  border-radius: 5px;
}

.kanban-parent .kanban .landmarks {
  margin: 10px;
  min-height: 100px;
  flex-grow: 1;
}

.kanban-parent .kanban .landmarks .landmark {
  margin: 10px;
  padding: 5px;
  height: 100px;
  border-radius: 5px;
  border: solid 2px var(--secondary);
  overflow: hidden;
  text-align: center;
  cursor: move;
}
