:root {
  /* Text options */
  color: var(--text-color);
  font-family: "Times New Roman";
  /* Variables */
  --primary: rgba(23, 23, 23, 1);
  --secondary: rgba(46, 46, 46, 1);
  --choosen: rgba(14, 14, 14, 1);
  --selected: rgba(70, 70, 70, 1);
  --text-color: rgba(255, 255, 255, 1);
  --shadow-color: rgba(0, 0, 0, 1);
}

/* Element classes */

body {
  /* Content */
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--primary);
}

input, select, fieldset {
  /* Content */
  color: inherit;
  border: 2px solid;
  background-color: var(--primary);
  border-radius: 5px;
  border-color: var(--secondary);
  box-shadow: 0px 0px 5px var(--shadow-color);
}

input:hover {
  transition: 0.6s ease;
  background-color: var(--selected);
}

input:active, input:focus {
  background-color: var(--secondary);
}

/* Dialog Menu Classes */

.dialog-menu .user {
  margin: 5px;
  margin-bottom: 0px;
  padding: 13px;
  overflow-y: border-radius: 5px;
  border: solid 2px var(--secondary);
}

.dialog-menu .user .name {
  font-size: 18px;
  font-weight: bold;
}

.dialog-menu .user .option {
  margin-right: 5px;
}

.dialog-menu .bar {
  margin: 5px;
  margin-top: 25px;
  padding: 3px;
  text-align: right;
}

.dialog-menu .bar .item {
  margin: 5px;
  padding: 10px;
  text-align: right;
}

/* Common Classes */

.choosen {
  background-color: var(--choosen);
}

.choosable:active, .choosable.focus {
  background-color: var(--choosen);
}

.selected {
  background-color: var(--selected);
}

.selectable {
  /* Effects */
  cursor: pointer;
}

.selectable:hover {
  transition: 0.6s ease;
  background-color: var(--selected);
}